./vscode/*
./build/*
*.ipch
*.bin

dcMotor/DC_motor_class.cpp.save
dcMotor/DC_motor_class.h.save
.vscode/c_cpp_properties.json
.vscode/settings.json
build/compile_commands.json
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.14.5/CMakeCCompiler.cmake
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/Makefile2
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/progress.marks
build/CMakeFiles/3.14.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.14.5/CMakeSystem.cmake
build/CMakeFiles/3.14.5/CompilerIdC/a.out
build/CMakeFiles/main.dir/depend.make
build/CMakeFiles/main.dir/progress.make
build/CMakeFiles/main.dir/link.txt
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/3.14.5/CompilerIdCXX/a.out
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/cmake_install.cmake
build/Makefile
build/CMakeCache.txt
build/CMakeFiles/3.14.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.14.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/feature_tests.c
main
tr
timer.cpp
